*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #f5f1f1;
    font-size: 14px;
    font-family: 'Big Shoulders Display', cursive ;
}
header{
    position: relative;
    text-decoration: none;
}
header .menu{
    background-color: #f1d092;
    top: 0;
    left:0;
    right:0;
    line-height: 80px;
    z-index: 1;
    position: fixed;
    width: 100%;
    display: block;
}
header .menu h1{
    padding-left: 200px;
}
header .list{
    margin-top: 25px;
}
header h1{
    color: white;
    font-size: 80px;
}
header .list a{
    color: white;
}
header li {
    display: inline;
    float: left;
    list-style: none;

    font-size: 20px;
    text-align: center;
}
li a{
    width: 180px;
    display: block;
    /*padding: 14px 16px;*/
    text-decoration: none;
}

header .slider{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
section .container {
    background-color: #ffffff;
    width: 1000px;
}
section .container .mian{

}
section .container .dog-bg{
    padding-top: 130px;
    width: 100%;
    height: 600px;
    background-color: #ffffff;
    display: block;
}
section .dog-memu product {

}
.dog-memu{
    margin-top: 32px;
    font-size: 20px;
}
.dog-memu .product{
    float: left;
    width: 33.33333%;
    padding: 4px 8px;
}
.dog-memu .product .dog-list{
    margin-left: 14px;
}
.dog-memu .product h3{
    font-weight: 600;
}
.dog-memu .product p{
    line-height: 1.4;
}
.dog-memu .product .dog-img{
    width: 100%;
    height: 200px;
    border-radius: 4%;
}
.dog-memu .product .buy-dog{
    background-color: #6c726f;
    color: #ffffff;
    padding: 4px 11px;
    display: inline-block;
    text-decoration: none;
}
.dog-img:hover {
    opacity: 0.6;
}
.dog-memu .product

