#body {
    font-family:'Courgette', cursive ;
    background-color: rgba(63, 188, 124, 0.8);
    font-size: 16px;
}

img {
    width: 100%;
}
.pl-16 {
    padding-left: 16px;
}
.pr-16 {
    padding-right: 16px;
}

header {
    margin-top: 60px;
}
header .container{
    padding-left: 0;
    padding-right: 0;
}

header .tab {
    /*background-image: linear-gradient(90deg, rgb(149, 241, 57), rgb(14, 158, 163));*/
    height: 60px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100000;
    background-color: azure;
}

header .tab .right {
    margin-top: 10px;
}

header .tab .left h1 {
    margin-top: 10px;
    padding-left: 5%;
}

h1 a {
    color: rgb(46, 122, 122);
}

header li {
    float: left;
    margin: 10px;
    list-style: none;
}

header li a {
    color: rgb(46, 122, 122);
}



.status h1,
.status h3 {
    font-weight: 700;
}
header .data-slide{
    margin-left: -2%;
}

/*Phần CSS cho section*/

section .container {
    background-color: #ffffff;
    width: 1171px;
}
section {
    margin: 25px 0;
    display: block;
    width: 1171px;
    margin-left: auto;
    margin-right: auto;
}
.container .title{
    margin: 60px 20px;
    padding-bottom: 30px;
    font-size: 30px;
    border-bottom: 2px solid #000000;
    text-align: justify;
}
.container .title h1{
    text-align: center;
    font-weight: bold;
}
.container .dog-memu{
    margin: 32px 20px;
    border-bottom: 2px solid #000000;
    overflow: hidden;
}

section .container .dog-bg{
    width: 100%;
    height: 600px;
    background-color: #ffffff;
    display: block;
}
.dog-memu .product{
    float: left;
    width: 33.33333%;
    padding: 0px 8px;
    margin-bottom: 30px;
}
.dog-memu .product .dog-list{
    margin-left: 14px;
}
.dog-memu .product h3{
    font-weight: 600;
}
.dog-memu .product p{
    line-height: 1.4;
}
.dog-memu .product .dog-img{
    width: 100%;
    height: 200px;
    border-radius: 4%;
}
.dog-memu .product .buy-dog{
    background-color: #6c726f;
    color: #ffffff;
    padding: 4px 11px;
    display: inline-block;
    text-decoration: none;
}
.dog-img:hover {
    opacity: 0.6;
}
* {
    box-sizing: border-box;
}




.container .rating{
    margin: 60px 20px;
    font-size: 25px;
}
.fa {
    font-size: 25px;
}

.checked {
    color: orange;
}

/* Three column layout */
.side {
    float: left;
    width: 15%;
    margin-top: 10px;
}

.middle {
    float: left;
    width: 70%;
    margin-top: 10px;
}

/* Place text to the right */
.right {
    text-align: right;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* The bar container */
.bar-container {
    width: 100%;
    background-color: #f1f1f1;
    text-align: center;
    color: white;
}

/* Individual bars */
.bar-5 {width: 60%; height: 18px; background-color: #04AA6D;}
.bar-4 {width: 30%; height: 18px; background-color: #2196F3;}
.bar-3 {width: 10%; height: 18px; background-color: #00bcd4;}
.bar-2 {width: 4%; height: 18px; background-color: #ff9800;}
.bar-1 {width: 15%; height: 18px; background-color: #f44336;}

/* Responsive layout - make the columns stack on top of each other instead of next to each other */
@media (max-width: 400px) {
    .side, .middle {
        width: 100%;
    }
    /* Hide the right column on small screens */
    .right {
        display: none;
    }
}
/*Phần CSS cho Footer*/

footer {
    color: #083908;
    background-color: azure;
}

footer li {
    list-style: none;
}

footer li a {
    color: #083908;
}